<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The history behind Black Ice Systems.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Matt Goode started Black Ice Systems in response to a need within Australian industry for a business able to assist with challenges in safety of machinery. The goal of establishing a presence as a leading service provider in functional safety, without ties to particular hardware, software, or other services.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2016</h4>
                                    <h4 class="subheading">Start of the Journey</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our doors first opened in early 2016, working from an office in Brewer Street, Perth, Western Australia. In the first year of trading Black Ice Systems have secured work on a number of prestigious projects. Response to our services has been overwhelmingly positive, with clients impressed by our enthusiastic approach, and pragmatic solutions to their challenges.</p>
                                </div>
                            </div>
                        </li>
						<li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2016</h4>
                                    <h4 class="subheading">New Premises</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In December 2016 we moved to our new location in Osborne Park, with easier access to the freeway, and additional space for our team to grow to meet the increasing in Perth need for high quality functional safety consulting services.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>