<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Don't hesitate to get in touch with any queries, we're here to help.</h3>
                </div>
            </div>
			<div class="row">
				
				<div class="col-md-3 col-md-offset-3" style="height:400px">
					<img src="https://maps.googleapis.com/maps/api/staticmap?center=-31.8979918,115.8259181&zoom=15&size=200x400&style=feature:road.highway%7celement:geometry%7Csaturation:-100%7Clightness:-8%7Cgamma:1.18&style=feature:road.arterial%7Celement:geometry%7Csaturation:-100%7Clightness:-24%7Cgamma:1.18&style=feature:road%7Celement:geometry.fill%7Csaturation:-100&style=feature:poi%7Celement:geometry%7Csaturation:-100&style=feature:landscape%7Celement:geometry%7Csaturation:-100&&markers=color:blue%7C%7C235+Main+Street+Osborne+Park"/>
				</div>
				<div class="col-md-3">
					<div class="contact-info bottom">
						<h2>Address</h2>
						<address>
						Suite 5, 1 Brewer Street <br> 
						Perth, WA 6000 <br> 
						Australia <br> 
						</address>
						<h2>Contact</h2>
						<h3>Sales</h3>
						<address>
						E:  <script language="JavaScript">
var username = "sales";
var hostname = "blackicesystems.com";
var linktext = username + "@" + hostname ;
document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
</script>

						</address>
						
						<h3>General Enquiries</h3>
						Matt Goode<br>
						E:  <script language="JavaScript">
var username = "matt.goode";
var hostname = "blackicesystems.com";
var linktext = username + "@" + hostname ;
document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
</script><br>
						P:	0407 928 420<br>
					</div>
				</div>
			</div>
        </div>
    </section>
