 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>
	
	<!-- Google Map Script -->
	<script>
        var map;

        function initMap() {

            var roadAtlasStyles = [
				  {
					  "featureType": "road.highway",
					  "elementType": "geometry",
					  "stylers": [
						{ "saturation": -100 },
						{ "lightness": -8 },
						{ "gamma": 1.18 }
					  ]
				  }, {
					  "featureType": "road.arterial",
					  "elementType": "geometry",
					  "stylers": [
						{ "saturation": -100 },
						{ "gamma": 1 },
						{ "lightness": -24 }
					  ]
				  }, {
					  "featureType": "poi",
					  "elementType": "geometry",
					  "stylers": [
						{ "saturation": -100 }
					  ]
				  }, {
					  "featureType": "administrative",
					  "stylers": [
						{ "saturation": -100 }
					  ]
				  }, {
					  "featureType": "transit",
					  "stylers": [
						{ "saturation": -100 }
					  ]
				  }, {
					  "featureType": "water",
					  "elementType": "geometry.fill",
					  "stylers": [
						{ "saturation": -100 }
					  ]
				  }, {
					  "featureType": "road",
					  "stylers": [
						{ "saturation": -100 }
					  ]
				  }, {
					  "featureType": "administrative",
					  "stylers": [
						{ "saturation": -100 }
					  ]
				  }, {
					  "featureType": "landscape",
					  "stylers": [
						{ "saturation": -100 }
					  ]
				  }, {
					  "featureType": "poi",
					  "stylers": [
						{ "saturation": -100 }
					  ]
				  }, {
				  }
            ]

            var mapOptions = {
                center: {lat:-31.9472, lng: 115.87},
				scrollwheel:false,
				zoom: 16,
				zoomControl : false,
				draggable : false,
				streetViewControl : false,
				mapTypeControl: false,
				overviewMapControl: false,
				clickable: false,
                mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'usroadatlas']
                }
            };
		
			
						
            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);

			marker = new google.maps.Marker({position: {lat:-31.9472, lng: 115.87}, map:map, title: 'Black Ice Systems'})
				
            var styledMapOptions = {
                
            };

            var usRoadMapType = new google.maps.StyledMapType(
                roadAtlasStyles, styledMapOptions);

            map.mapTypes.set('usroadatlas', usRoadMapType);
            map.setMapTypeId('usroadatlas');
        }


    </script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>