<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Find out how Black Ice Systems can help your business achieve safety success</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
								<span class="fa-stack fa-4x">
									<i class="fa fa-circle fa-stack-2x text-primary"></i>
									<i class="fa {{ post.icon }} fa-stack-1x fa-inverse"></i>
								</span>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
<!--
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Risk Management</h4>
                    <p class="text-muted">The risk assessment is the foundation of a project. Good risk assessments facilitate effective safety-by-design, while bad risk assessments lead to unsafe projects and increased costs. At Black Ice Systems we pride ourselves on being leaders in risk management techniques and application, and we back this up with extensive experience in mining and materials handling. Knowing how the risk assessment is to be used in the future is critical in achieving effective outcomes. Our facilitators have all worked on projects ranging from small upgrades to construction of entire greenfield facilities, and our background in functional safety engineers ensures that your risk assessment outcomes position you effectively to move on to a functional safety lifecycle if required.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-life-ring fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Safety Management</h4>
                    <p class="text-muted">Safety management requires application of a broad range of skills and knowledge. We are able to help with all aspects of planning for functional safety. Effective planning is the key to making sure that your team implements safety efficiently and effectively. Black Ice Systems can help with planning for all aspects of functional safety management, and integrate the requirements of the standard with your existing business systems and practices. We believe that the way to execute safety projects efficiently is to make functional safety a part of the way you do business, and safety management support from Black Ice Systems makes it possible.</p>
                </div>
				<div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-check-square fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Independent Assessment</h4>
                    <p class="text-muted">Many functional safety standards require independent assessment and audit. Black Ice Systems can help with functional safety assessments (FSA), audits, independent verification and code reviews. As well as being a requirement of standards, these processes help to identify key problem areas in the safety process. Clear recommendations and expert advice allow you to address issues, and improve the quality and efficiency of future activities.</p>
                </div>

            </div>
			<div class="row text-center">
                <div class="col-md-4">
					<span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-certificate fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Competence Management</h4>
                    <p class="text-muted">Competence management is formalised demonstration that your safety team has the skills and abilities necessary to execute their tasks effectively. A competence management system is a requirement of functional safety standards, but more importantly it assists you in evaluating current and potential team members for their suitability, and areas in which they may need further development or training. Safety system failures can easily arise through a lack of proper knowledge, skills, or experience - and can go on to have large safety and cost impacts. Black Ice Systems can assist in the development and implementation of a competence management system, to ensure you have the right people working on your project.</p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Training</h4>
                    <p class="text-muted">Having a team with the required skills and knowledge to execute safety projects helps to avoid costly errors and delays, which can lead to deployment of unsafe systems. Carrying out effective training, at key early project stages, sets up both the project and team for success. Our suite of training courses are tailored for the functional safety teams working in mining and materials handling. Whether you are starting a new project, continuing an existing project, or in long term operations and maintenance, our training services can help your team to produce the best results.</p>
                </div>
                <div class="col-md-4">
					<span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Lifecycle Activities</h4>
                    <p class="text-muted">In situations where your safety lifecycle needs support, Black Ice Systems have personnel that can help. Whether it is carrying out a code review, performing safety integrity level calculations, developing layer of protection analysis, or reviewing hardware selections, our engineers have the right combination of skills, experience, and a practical approach to ensure that you achieve the best outcomes.</p>

                </div>
        </div>-->
    </section>