<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Black Ice Systems can help your business achieve safety success</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Risk Management</h4>
                    <p class="text-muted">We pride ourselves on leading the pack in risk management techniques and application. Our team has a strong background in mining and materials handling which gives us insight into the challenges encountered on large and small projects.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heartbeat fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Functional Safety</h4>
                    <p class="text-muted">Functional safety can be a complicated field. Black Ice Systems can help you tackle the challenge of achieving functional safety compliance. Whether it is tailoring a full lifecycle for your business, or assistance with specific tasks on a single project. Working with Black Ice Systems you will achieve a quality cost effective outcome, in line with standards and regulatory requirements.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Training</h4>
                    <p class="text-muted">Implementing functional safety and safety-by-design requires all members of your team to have appropriate skills, knowledge, and experience. Black Ice Systems provides tailored training for all levels of staff including engineers, managers, and maintainers - to ensure your team can work safely and effectively.</p>
                </div>
            </div>
        </div>
    </section>