<!-- Why Choose Us Section -->
    <section id="why">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why Choose Black Ice Systems</h2>
					<h3 class="section-subheading text-muted">What makes us different?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Innovative</h4>
                    <p class="text-muted">Our principals have set the pace for the industry in developing tailored functional safety lifecycles for major mining and materials handling operations. Our experience comes from executing large capital projects according to Australian and international safety standards, codes of practice, and regulations. We look forward to new and unique challenges, and pride ourselves on developing the right approach to address them.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-industry fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Experienced</h4>
                    <p class="text-muted">Compliance with safety standards is a process that comes with many challenges. The right skills and experience are required to effectively implement safety standards for your project or site. Projects can go off track right at the start of the safety journey, or well into the process. Our fresh perspective and experience at effective safety project delivery allows us to help you to find the most effective solution to project problems.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Professional</h4>
                    <p class="text-muted">At Black Ice Systems we combine our professional project delivery with a pragmatic approach to safety systems. Not all projects are the same, and when you contact a consultant you should not expect to have the standards quoted at you, or be offered a cookie-cutter solution. Black Ice Systems is here to help you to identify and assess the available options, and find the best fit for your project and site.</p>
                </div>
            </div>
			<div class="row">
                <div class="col-lg-12 text-center">
					<h3 class="section-subheading text-muted">Contact Black Ice Systems today to discuss how we can help you reach the best solution for safety on your project.</h3>
                </div>
            </div>
        </div>
    </section>
